<footer class="fixed-bottom text-center text-white mt-auto" style="background-color: #e3f2fd;">
  <!-- Grid container -->
  
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Copyright:Inshivir
    <!-- <a class="text-dark" href="">Inshivir</a> -->
  </div>
  <!-- Copyright -->
</footer>