<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>In-shivir - Home</title>
</head>

<body>
    <div id="typed-strings">
        <p>Typed.js is a <strong>JavaScript</strong> library.</p>
        <p>It <em>types</em> out sentences.</p>
        <p>Inshivir is a great place!</p>
    </div>
    <span id="typed"></span>



    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
    <script>
        var typed = new Typed('#typed-strings', {
            // Waits 1000ms after typing "First"
            // strings: ['First ^1000 sentence.', 'Second sentence.']   
        });
    </script>
</body>

</html>