<% layout('/layouts/boilerplate.ejs') %>

<link rel="stylesheet" href="/stylesheets/style.css">
<!-- <link rel="stylesheet" href="/stylesheets/home.css"> -->

<section class="mt-5 cover space-md slider" data-arrows="false" data-paging="true" data-autoplay="true" data-timing="6000"
style="margin-top:auto ;"
    data-children="1">
    <ul class=" mt-3 slides flickity-enabled" tabindex="0">

        <div class="flickity-viewport" style="height: 80%;">
            <div class="flickity-slider" style="left: 0px; top: auto; bottom: auto; transform: translateX(0%);">
                <li class="cover switchable slide is-selected" style="position: absolute; left: 0%;">
                    <div class="container">
                        <div class="row justify-content-between">
                            <div class="col-md-6 col-lg-5 mx-auto">
                                <img alt="Image" class="" src="https://i.ibb.co/c39dTbx/Camping-place-cartoon-composition-with-yellow-tent-lamp-pot-with-dinner-on-fire-night-sky-vector-ill.jpg">
                            </div>
                            <div class="mt-3 col-md-6 col-lg-5">
                                <div class="row">
                                    <h1>Welcome to Inshivir! <br>
                                        <span id="typed"></span>               
                                        <div id="typed-strings">
                                            <p><strong class="str">Campgrounds</strong> in India!</p>
                                            <p>Add <strong class="str">Campgrounds!</strong></p>
                                            <p>View <strong class="str">Campgrounds!</strong></p>
                                            <p>Rate <strong class="str">Campgrounds!</strong></p>
                                          </div>
                                          <span id="typed"></span>
                                    </h1>
                                    <p class="lead mt-3">
                                        Every part of this website is a experience on building a full stack web application.
                                        Forgive, If you find bugs.
                                    </p> <br>
                                    <div class="p-3 modal-instance block">
                                        <a class="btn col-md-6 btn-primary type-uppercase modal-trigger" href="/camps"
                                            data-modal-index="0">
                                            <span class="btn btn-primary">
                                               Show Camps in India
                                            </span>
                                        </a>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
        </div>
    </ul>
</section>

  
  
<script>
    var typed = new Typed('#typed', {
      stringsElement: '#typed-strings',
      typeSpeed: 40,
		startDelay: 1,
		backSpeed: 40,
		backDelay: 1000,
        loop: true,
        loopCount: Infinity
    });
  </script>
