<% layout('/layouts/boilerplate.ejs') %>
    <h1>Campgrounds in India!</h1>
    <a href="/new">Create new Camps</a>
    <ul>
        <% for(let campground of campgrounds) { %>
            <li><a href="/camps/<%= campground._id %> "><%= campground.title  %></a> </li>
            <% } %>     
    </ul>
</body>
</html>