<% layout('/layouts/boilerplate.ejs') %>

    <h1><%= campground.title  %> </h1>
    <h2>---- <%= campground.location  %> </h2>
    <a href="/camps">Go to other Camps</a>
    <a href="/camps/edit/<%= campground._id %>">Edit the camp</a>
